* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins . sans-serif";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width:  100vh;
    background: url(https://images.hdqwalls.com/download/deadpool-desktop-1920x1080.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    
}

.wrapper {
    width: 27rem;
    background: transparent;
    border: 2px solid rgba (255, 255, 255, 0);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px (0, 0, 0, .2);
    color: #fff;
    border-radius: 40px;
    padding: 30px 40px;

}